<select name="raiser" data="raiser">
    <option disabled selected>Select raiser</option>
    <option value="hj">HJ</option>
    <option value="co">CO</option>
    <option value="bu">BU</option>
    <option value="sb">SB</option>
    <option value="bb">BB</option>
</select>