<div>
    <div>
        <div>
            <span>Stack</span>
        </div>
        <div>
            <span>vsPosition</span>
        </div>
        <button type="button">Generate</button>
    </div>
    
</div>