<div id="push">
    <h1 class="title">Open push</h1>
    <div class="box-content">
        <div class="stack__box push">
            <span class="stack__span">Stack</span>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="5">
                5bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="7">
                7bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="10">
                10bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="12">
                12bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="14">
                14bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="16">
                16bb
            </label> 
        </div>
        <div class="pos__box">
            <span class="pos__span">vsPosition</span>
            <div class="pos__box-label">
                <label class="pos__label">
                    <input type="radio" name="pos" value="ep">
                    EP
                </label>
                <label class="pos__label">
                    <input type="radio" name="pos" value="mp">
                    MP
                </label>
                <label class="pos__label">
                    <input type="radio" name="pos" value="lj">
                    LJ
                </label>
                <label class="pos__label">
                    <input type="radio" name="pos" value="hj">
                    HJ
                </label>
                <label class="pos__label">
                    <input type="radio" name="pos" value="co">
                    CO
                </label>
                <label class="pos__label">
                    <input type="radio" name="pos" value="bu">
                    BU
                </label>
            </div>
        </div>
    </div>
    <button type="button" class="generate-button" data="generate">Generate</button>
</div>