<label class="action__label bb">
    <input type="radio" name="action" value="raise">
    vs 3xRaise
</label>
<label class="action__label bb">
    <input type="radio" name="action" value="limp">
    vsLIMP
</label>

