<div id="bvb">
    <h1 class="title">Blind vs Blind</h1>
    <div class="box-content">
        <div class="stack__box secondary">
            <span class="stack__span">Stack</span>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="20">
                20bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="25">
                25bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="30">
                30bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="50">
                50bb
            </label>
            <label class="stack__label secondary">
                <input type="radio" name="stack" value="100">
                100bb
            </label>
        </div>
        <div class="pos__box">
            <span class="pos__span">Select position</span>
            <div class="pos__box-label">
                <label class="pos__label bb">
                    <input type="radio" name="pos" value="bb">
                    BB
                </label>
                <label class="pos__label sb">
                    <input type="radio" name="pos" value="sb">
                    SB
                </label>
            </div>
            <div class="action__box">
                <span class="action__span">Action</span>
                <div class="action__content-box"></div>
            </div>
        </div>
        
    </div>
    <button type="button" class="generate-button" data="generate">Generate</button>
</div>