 <label class="action__label sb">
    <input type="radio" name="action" value="open">
    open
</label>
<label class="action__label sb">
    <input type="radio" name="action" value="iso">
    vsISO
</label>
<label class="action__label sb visually-hidden" data="3bet-label">
    <input type="radio" name="action" value="vs3bet" >
    vs3Bet
</label>